USE [master]
GO
/****** Object:  Database [LostAndFound]    Script Date: 24-Dec-18 5:24:50 PM ******/
CREATE DATABASE [LostAndFound]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LostAndFound', FILENAME = N'D:\Consultation\LostAndFound.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LostAndFound_log', FILENAME = N'D:\Consultation\LostAndFound_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LostAndFound].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LostAndFound]
GO
USE [LostAndFound]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 24-Dec-18 5:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CID] [int] NOT NULL,
	[CName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 24-Dec-18 5:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PID] [int] NOT NULL,
	[UID] [int] NOT NULL,
	[CID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[LF] [bit] NOT NULL,
	[Closed] [bit] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reply]    Script Date: 24-Dec-18 5:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[UID] [int] NOT NULL,
	[Descr] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Reply] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 24-Dec-18 5:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24-Dec-18 5:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Mobile] [numeric](11, 0) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [binary](50) NOT NULL,
	[Type] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [CID_FK] FOREIGN KEY([CID])
REFERENCES [dbo].[Category] ([CID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [CID_FK]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [PID_Replies_FK] FOREIGN KEY([PID])
REFERENCES [dbo].[Post] ([PID])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [PID_Replies_FK]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [UID_Replies_FK] FOREIGN KEY([UID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [UID_Replies_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [PID_Report_FK] FOREIGN KEY([PID])
REFERENCES [dbo].[Post] ([PID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [PID_Report_FK]
GO
USE [master]
GO
