@model LostAndFound.Models.StatisticsModel

@{
    ViewBag.Title = "Index";
}
<table class="table">

    <tr>
        <th>Number of items back to owner</th>
        <td>@Model.CountFound</td>
    </tr>
    <tr>
        <th>Number of items still missing</th>
        <td>@Model.CountMissing</td>
    </tr>

</table>
